
/*** Button Start ***/
.btn {
  font-weight: 600;
  transition: .5s;
}

.btn-square {
  width: 32px;
  height: 32px;
}

.btn-sm-square {
  width: 34px;
  height: 34px;
}

.btn-md-square {
  width: 44px;
  height: 44px;
}

.btn-lg-square {
  width: 56px;
  height: 56px;
}

.btn-xl-square {
  width: 66px;
  height: 66px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square,
.btn-xl-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.btn.btn-primary {
  color: var(--bs-white);
}

.btn.btn-primary:hover {
  background: var(--bs-secondary);
  border: 1px solid var(--bs-secondary);
}

.btn.btn-secondary {
  color: var(--bs-white);
}

.btn.btn-secondary:hover {
  background: var(--bs-primary);
  border: 1px solid var(--bs-primary);
}

.btn.btn-light {
  color: var(--bs-primary);
}

.btn.btn-light:hover {
  color: var(--bs-white);
  background: var(--bs-primary);
  border: 1px solid var(--bs-primary);
}
/*** Navbar Start ***/
.nav-bar {
  background: var(--bs-white);
}

.sticky-top {
  transition: 1s;
}

.navbar-light .navbar-nav .nav-link {
  position: relative;
  margin-right: 25px;
  padding: 35px 0;
  letter-spacing: 1px;
  color: var(--bs-dark);
  font-size: 17px;
  font-weight: 500;
  outline: none;
  transition: .5s;
}

.sticky-top .navbar-light .navbar-nav .nav-link {
  padding: 20px 0;
  color: var(--bs-dark);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--bs-primary);
}

.navbar-light .navbar-brand img {
  max-height: 60px;
  transition: .5s;
}

.sticky-top .navbar-light .navbar-brand img {
  max-height: 50px;
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  vertical-align: middle;
  margin-left: 8px;
  
}

.dropdown .dropdown-menu a:hover {
  background: var(--bs-primary);
  color: var(--bs-white);
}

.navbar .nav-item:hover .dropdown-menu {
  transform: rotateX(0deg);
  visibility: visible;
  margin-top: 8px !important;
  background: var(--bs-light);
  transition: .5s;
  opacity: 1;
}
.locale-options {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.lang-icon {
  color: #333;
  font-size: 1.2rem;
  cursor: pointer;
}

.lang-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  padding: 0.5rem;
  border-radius: 4px;
  display: none;
  z-index: 10;
}

.lang-dropdown a {
  display: block;
  color:#fff;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
}

.lang-dropdown a.active {
  background-color: #555;
}

.locale-options:hover .lang-dropdown {
  display: block;
}




@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
  display: block;
  visibility: hidden;
  top: 100%;
  transform: rotateX(-75deg);
  transform-origin: 0% 0%;
  border: 0;
  border-radius: 10px;
  margin-top: 8px !important;
  transition: .5s;
  opacity: 0;
  }
}

@media (max-width: 991px) {
  .navbar.navbar-expand-lg .navbar-toggler {
      padding: 8px 15px;
      border: 1px solid var(--bs-primary);
      color: var(--bs-primary);
  }

  .sticky-top .navbar-light .navbar-nav .nav-link {
      padding: 12px 0;
  }
}